<h1>Make a New Kitty!</h1>

<form action="/cats" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render "form", cat: @cat%>


    <input type="submit" value="Create this Kitty!">

  </form>
