<h1>NEW CAT RENTER</h1>

<% flash[:errors].each do |message| %>
  <%= message %> <br>
<% end %>
<form class="" action="/users" method="post">
  <br>

  <label>Username:
  
    <input type="text" name="user[username]" value="">
  
  </label>
  <br><br>
  <label>password:
  
    <input type="password" name="user[password]" value="">
  
  </label>
  <br><br>
  <input type="submit" value="Submit!">
</form>